/*Site Nav*/


.site-logo {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400px;
  font-size: 40px;
}
.topnav {
    padding: 16px 20px 0 20px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    min-height: 90px;
    
  
}

.topnav a {
  padding: 20px;
  display: block;
  color:   white;
  font-size: 90%;
  transition: all .2s ease-out;
  
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
}

.topnav a:hover {
    color: white;
}

.main-menu {
    padding: 16px 30px 0 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    width: 100%;
}


.menu-item {
    margin: 6px 0 0;
    list-style: none;
    text-align: right;
    display: block;
    float: right;
}



/*.site-logo a
{
    background: url(../images/md-logo.png) no-repeat;
    
    float: left;
    width: 160px;
    height: 150px;
    margin-top: 5px;
}
*/
    
/*End Of Nav Bar*/

html { 
  background: url(../images/nyc.jpg) no-repeat center center fixed; 
   /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  background-color: gray;
  background-blend-mode: lighten;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

a {
    text-decoration: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
   font-weight: 700;
    opacity: 1;
    width: 100%;
    top: 50%;
    left: 0%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 0px;
    margin-top: -30px;
    font-size: 28px;
    position: absolute;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}

.social-media {
    width: 100%;
    top: 60%;
    font-size: 35px;
    position: absolute;
    text-align: center;
    color: white;
    letter-spacing: 30px;
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}